# Binaries
Binaries/
**/bin/
bin-int/
Intermediates/

# Project Files
.vs/
.vscode/
.zed/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
*.xcworkspacedata
*.pbxproj
*.plist
*.xcuserstate
*.xcbkptlist

# Exclude
!Vendor/Binaries

# Profiler Data
Sophon-Profiler-Data-*.json

# Caches
__pycache__
Editor/Assets/Cache

# macOS
.DS_Store
