[submodule "Core/Vendor/spdlog"]
	path = Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Core/Vendor/glfw"]
	path = Core/Vendor/glfw
	url = https://github.com/Project-Sophon/glfw
[submodule "Core/Vendor/imgui"]
	path = Core/Vendor/imgui
	url = https://github.com/Project-Sophon/imgui
[submodule "Core/Vendor/glm"]
	path = Core/Vendor/glm
	url = https://github.com/g-truc/glm.git
